<div class="container">
  <h1>アカウント情報</h1>
  <div>
    <div>
      <span>ユーザー名</span>
      <%= @user.name %>
    </div>
    <div>
      <span>メールアドレス</span>
      <%= @user.email %>
    </div>
    <div>
      <span>パスワード</span>
      <span>※※※※※※※※</span>
      <span>/※セキュリティ上パスワードは非表示となっています。</span>
    </div>
    <div>
      <%= link_to "編集", edit_user_registration_path %>
    </div>
  </div>
</div>
