<div class="container">
  <h1>イベント一覧</h1>
  <div>
    <%= link_to "新規イベントを作成", new_event_path %>
  </div>
  <div>
    <% @events.each do |event| %>
      <div>
        <%= event.event_name %>
        <%= event.explanation %>
        <%= link_to "詳細", event_path(event) %>
      </div>
    <% end %>
  </div>
</div>
